@tailwind base;
@tailwind components;
@tailwind utilities;

.menu a:hover{
background-color:#4E788D;
color: #ffffff;
}

label {
display: none;
}

.contact{
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

input[type="text"], input[type="email"] {
border-radius:5px;
height: 3em;
padding: 1em;
margin: 1em;
}

select, textarea {
display: block;
border-radius:5px;
height: 5em;
width:100%;
padding: 1em;
}

button {
display:inline-flex;
align-items:center;
border-radius:5px;
border: 1px solid black;
padding:1em;
height:3em;
margin:1em;
}